<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button mat-button [matMenuTriggerFor]="menu1">CATÁLOGO DE LIBROS</button>

        <mat-menu #menu1="matMenu">
            <a mat-menu-item href="/editorial">EDITORIALES</a>
            <a mat-menu-item href="/pais">PAISES</a>
            <a mat-menu-item href="/tipolibro">TIPOS DE LIBRO</a>
            <a mat-menu-item href="/libro">LIBRO</a>
            <a mat-menu-item href="/area">AREA</a>
            <a mat-menu-item href="/autor">AUTOR</a>
            <a mat-menu-item href="/librosporarea">LIBROS POR AREA</a>
            <a mat-menu-item href="/librosporautor">LIBROS POR AUTOR</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu2">GESTIÓN DE AFILIADOS Y PRESTAMOS</button>

        <mat-menu #menu2="matMenu">
            <a mat-menu-item href="/afiliado">AFILIADO</a>
            <a mat-menu-item href="/tipoprestamo">TIPO DE PRESTAMO</a>
            <a mat-menu-item href="/estado">ESTADO</a>
            <a mat-menu-item href="/librosporexistencia">LIBROS POR EXISTENCIA</a>
            <a mat-menu-item href="/prestamo">PRESTAMO</a>
            <a mat-menu-item href="/estadoporexistencia">ESTADOS POR EXISTENCIA</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu3">CONSULTAS</button>
        <mat-menu #menu3="matMenu">
            <a mat-menu-item href="/afiliado/consulta">AFILIADO</a>
            <a mat-menu-item href="/prestamo/librosporafiliado/consulta">PRESTAMOS POR AFILIADO</a>
            <a mat-menu-item href="/prestamo/librosporfecha/consulta">PRESTAMOS POR FECHA</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu4">REPORTES</button>
        <mat-menu #menu4="matMenu">
            <a mat-menu-item href="/libro/reporte">LIBROS</a>
            <a mat-menu-item href="/afiliado/reporte">AFILIADOS</a>
            <a mat-menu-item href="/prestamo/reporte">PRESTAMOS</a>
            <a mat-menu-item href="/estadoporexistencia/reporte">ESTADOS POR EXISTENCIA</a>
        </mat-menu>
    </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">LIBROS PRESTADOS POR AFILIADO</a>
</nav>

<br>

<div class="form-group">
    <input type="text" class="form-control" name="filterPost" placeholder="Digite el Afiliado del prestamo que desea buscar" [(ngModel)]="filterPost">
  </div>

<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>LIBRO</th>
                    <th>AFILIADO</th>
                    <th>1ER APELLIDO</th>
                    <th>TIPO DE PRESTAMO</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser | filterlibrosporafiliado:filterPost">
                    <td>{{User.cod_prestamo}}</td>
                    <td>{{User.titulo}}</td>
                    <td>{{User.nombre}}</td>
                    <td>{{User.apellido1}}</td>
                    <td>{{User.tipoprestamo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
