<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button mat-button [matMenuTriggerFor]="menu1">CATÁLOGO DE LIBROS</button>

        <mat-menu #menu1="matMenu">
            <a mat-menu-item href="/editorial">EDITORIALES</a>
            <a mat-menu-item href="/pais">PAISES</a>
            <a mat-menu-item href="/tipolibro">TIPOS DE LIBRO</a>
            <a mat-menu-item href="/libro">LIBRO</a>
            <a mat-menu-item href="/area">AREA</a>
            <a mat-menu-item href="/autor">AUTOR</a>
            <a mat-menu-item href="/librosporarea">LIBROS POR AREA</a>
            <a mat-menu-item href="/librosporautor">LIBROS POR AUTOR</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu2">GESTIÓN DE AFILIADOS Y PRESTAMOS</button>

        <mat-menu #menu2="matMenu">
            <a mat-menu-item href="/afiliado">AFILIADO</a>
            <a mat-menu-item href="/tipoprestamo">TIPO DE PRESTAMO</a>
            <a mat-menu-item href="/estado">ESTADO</a>
            <a mat-menu-item href="/librosporexistencia">LIBROS POR EXISTENCIA</a>
            <a mat-menu-item href="/prestamo">PRESTAMO</a>
            <a mat-menu-item href="/estadoporexistencia">ESTADOS POR EXISTENCIA</a>
        </mat-menu>
    </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">REGISTRO DE LIBROS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>

                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.cod_libro" name="cod_libro"
                        placeholder="No" class="form-control" required hidden>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">ISBN</label>
                    <input type="text" [(ngModel)]="user.ISBN" name="ISBN" placeholder="DIGITE EL ISBN"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">TITULO</label>
                    <input type="text" [(ngModel)]="user.titulo" name="titulo" placeholder="DIGITE EL TITULO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <option>SELECCIONE LA EDITORIAL</option>
                    <select class="form-control" size="1" [(ngModel)]="user.cod_editorial" name="cod_editorial"
                        required>
                        <option *ngFor="let lista of Editoriallist" value={{lista.cod_editorial}}>{{lista.editorial}}
                        </option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <option>SELECCIONE EL PAIS</option>
                    <select class="form-control" size="1" [(ngModel)]="user.cod_pais" name="cod_pais" required>
                        <option *ngFor="let lista of Paislist" value={{lista.cod_pais}}>{{lista.pais}}</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <option>SELECCIONE EL TIPO DE LIBRO</option>
                    <select class="form-control" size="1" [(ngModel)]="user.cod_tipolibro" name="cod_tipolibro"
                        required>
                        <option *ngFor="let lista of Tipolibrolist" value={{lista.cod_tipolibro}}>{{lista.tipo}}
                        </option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">LANZAMIENTO</label>
                    <input type="text" [(ngModel)]="user.fechalanzamiento" name="fechalanzamiento"
                        placeholder="DIGITE EL AÑO DE LANZAMIENTO" class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">EDICION</label>
                    <input type="text" [(ngModel)]="user.edicion" name="edicion" placeholder="DIGITE LA EDICION"
                        class="form-control" autofocus>
                </div>

                <button type="submit" class="btn btn-primary mt-3" formnovalidate value="Save">
                    Agregar
                </button>

            </form>
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <input type="text" class="form-control" name="filterPost" placeholder="Digite el nombre que desea buscar"
        [(ngModel)]="filterPost">
</div>

<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ISBN</th>
                    <th>TITULO</th>
                    <th>EDITORIAL</th>
                    <th>PAIS</th>
                    <th>TIPO</th>
                    <th>LANZAMIENTO</th>
                    <th>EDICION</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser| filterlibro:filterPost">
                    <td>{{User.cod_libro}}</td>
                    <td>{{User.ISBN}}</td>
                    <td>{{User.titulo}}</td>
                    <td>{{User.editorial}}</td>
                    <td>{{User.pais}}</td>
                    <td>{{User.tipo}}</td>
                    <td>{{User.fechalanzamiento}}</td>
                    <td>{{User.edicion}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="EliminarData(User.cod_libro)">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" [routerLink]="['/libro/edit', User.cod_libro]">
                            Actualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>