<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">LIBRO</a>
</nav>

<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form action="">
                
                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.cod_libro" name="cod_libro" placeholder="No"
                        class="form-control" required hidden>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">ISBN</label>
                    <input type="text" [(ngModel)]="user.ISBN" name="ISBN" placeholder="DIGITE EL ISBN"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">TITULO</label>
                    <input type="text" [(ngModel)]="user.titulo" name="titulo" placeholder="DIGITE EL TITULO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <option>SELECCIONE LA EDITORIAL</option>
                <select class="form-control" size="1" [(ngModel)]="user.cod_editorial" name="cod_editorial" required>
                     <option *ngFor="let lista of Editoriallist" value={{lista.cod_editorial}}>{{lista.editorial}}</option>
                </select>
                </div>
                
                <div class="form-group mt-2">
                    <option>SELECCIONE EL PAIS</option>
                  <select class="form-control" size="1" [(ngModel)]="user.cod_pais" name="cod_pais" required>
                         <option *ngFor="let lista of Paislist" value={{lista.cod_pais}}>{{lista.pais}}</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <option>SELECCIONE EL TIPO DE LIBRO</option>
                  <select class="form-control" size="1" [(ngModel)]="user.cod_tipolibro" name="cod_tipolibro" required>
                         <option *ngFor="let lista of Tipolibrolist" value={{lista.cod_tipolibro}}>{{lista.tipo}}</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">LANZAMIENTO</label>
                    <input type="text" [(ngModel)]="user.fechalanzamiento" name="fechalanzamiento" placeholder="DIGITE EL AÑO DE LANZAMIENTO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">EDICION</label>
                    <input type="text" [(ngModel)]="user.edicion" name="edicion" placeholder="DIGITE LA EDICION"
                        class="form-control" autofocus>
                </div>

                <button class="btn btn-success btn-block mt-3" (click)="updateUser()">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
