<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">REPORTE DE LIBROS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <button (click)="exportToExcel()" class="btn btn-success">
                Exportar a Excel
            </button>
            <button class="btn btn-danger ms-3" (click)="openPDF()">
                Exportar a PDF
            </button>`
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover" id="tabla">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ISBN</th>
                    <th>TITULO</th>
                    <th>EDITORIAL</th>
                    <th>PAIS</th>
                    <th>TIPO</th>
                    <th>LANZAMIENTO</th>
                    <th>EDICION</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.cod_libro}}</td>
                    <td>{{User.ISBN}}</td>
                    <td>{{User.titulo}}</td>
                    <td>{{User.editorial}}</td>
                    <td>{{User.pais}}</td>
                    <td>{{User.tipo}}</td>
                    <td>{{User.fechalanzamiento}}</td>
                    <td>{{User.edicion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>