<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">ESTADO POR EXISTENCIA</a>
</nav>

<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form action="">
                
                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.cod_estadoexistencia" name="cod_estadoexistencia" placeholder="No"
                        class="form-control" required hidden>
                </div>

                <div class="form-group">
                    <option>SELECCIONE EL ESTADO</option>
                  <select class="form-control" size="1" [(ngModel)]="user.cod_estado" name="cod_estado" required>
                         <option *ngFor="let lista of Estadolist" value={{lista.cod_estado}}>{{lista.estado}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <option>SELECCIONE LA EXISTENCIA</option>
                  <select class="form-control" size="1" [(ngModel)]="user.cod_existencia" name="cod_existencia" required>
                         <option *ngFor="let lista of Librosporexistencialist" value={{lista.cod_existencia}}>{{lista.cod_existencia}}</option>
                    </select>
                </div>

                <button class="btn btn-success btn-block mt-3" (click)="updateUser()">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
