<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">REPORTE DE AFILIADOS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <button (click)="exportToExcel()" class="btn btn-success">
                Exportar a Excel
            </button>
            <button class="btn btn-danger ms-3" (click)="openPDF()">
                Exportar a PDF
            </button>`
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover" id="tabla">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>NOMBRE</th>
                    <th>1ER APELLIDO</th>
                    <th>2DO APELLIDO</th>
                    <th>DOCUMENTO</th>
                    <th>NACIMIENTO</th>
                    <th>TELEFONO</th>
                    <th>DIRECCION</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.cod_afiliado}}</td>
                    <td>{{User.nombre}}</td>
                    <td>{{User.apellido1}}</td>
                    <td>{{User.apellido2}}</td>
                    <td>{{User.documento}}</td>
                    <td>{{User.fechanacimiento}}</td>
                    <td>{{User.telefono}}</td>
                    <td>{{User.direccion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>