<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand ps-3">REGISTRO DE PRESTAMOS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>

                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.cod_prestamo" name="cod_prestamo" placeholder="No"
                        class="form-control" required hidden>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">EXISTENCIA</label>
                    <input type="text" [(ngModel)]="user.cod_existencia" name="cod_existencia" placeholder="DIGITE LA EXISTENCIA"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">AFILIADO</label>
                    <input type="text" [(ngModel)]="user.cod_afiliado" name="cod_afiliado" placeholder="DIGITE EL AFILIADO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">FECHA DE PRESTAMO</label>
                    <input type="text" [(ngModel)]="user.fechaprestamo" name="fechaprestamo" placeholder="DIGITE LA FECHA DE PRESTAMO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">HORA DE PRESTAMO</label>
                    <input type="text" [(ngModel)]="user.horaprestamo" name="horaprestamo" placeholder="DIGITE LA HORA DE PRESTAMO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">FECHA DE ENTREGA</label>
                    <input type="text" [(ngModel)]="user.fechaentrega" name="fechaentrega" placeholder="DIGITE LA FECHA DE ENTREGA"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">HORA DE ENTREGA</label>
                    <input type="text" [(ngModel)]="user.horaentrega" name="horaentrega" placeholder="DIGITE LA HORA DE ENTREGA"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">TIPO DE PRESTAMO</label>
                    <input type="text" [(ngModel)]="user.cod_tipoprestamo" name="cod_tipoprestamo" placeholder="DIGITE EL TIPO DE PRESTAMO"
                        class="form-control" autofocus>
                </div>

                <div class="form-group mt-2">
                    <label for="" class="control-label">ESTADO</label>
                    <input type="text" [(ngModel)]="user.cod_estado" name="cod_estado" placeholder="DIGITE EL ESTADO"
                        class="form-control" autofocus>
                </div>

                <button type="submit" class="btn btn-primary mt-3" formnovalidate value="Save">
                    Agregar
                </button>

            </form>
        </div>
    </div>
</div>
<br>


<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>EXISTENCIA</th>
                    <th>AFILIADO</th>
                    <th>FECHA PRESTAMO</th>
                    <th>HORA PRESTAMO</th>
                    <th>FECHA ENTREGA</th>
                    <th>HORA ENTREGA</th>
                    <th>TIPO</th>
                    <th>ESTADO</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.cod_prestamo}}</td>
                    <td>{{User.cod_existencia}}</td>
                    <td>{{User.cod_afiliado}}</td>
                    <td>{{User.fechaprestamo}}</td>
                    <td>{{User.horaentrega}}</td>
                    <td>{{User.fechaentrega}}</td>
                    <td>{{User.horaentrega}}</td>
                    <td>{{User.cod_tipoprestamo}}</td>
                    <td>{{User.cod_estado}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="EliminarData(User.cod_prestamo)">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" [routerLink]="['/prestamo/edit', User.cod_prestamo]">
                            Actualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    